html {
  font-size: 16px;
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 200px) {
  html {
    font-size: 12px;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  transition: background 0.5s;
}

body > div {
  max-width: 1440px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,
ul,
ol,
dl {
  margin: 0;
}

.carousel-item {
  width: auto;
}
